.nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 120px;
  padding: 1.5em;
  background: #4056A1;
  color: #FFFFFF;
  position: fixed;
}

.titleLeft {
  font-family: 'Bungee', bold;
  font-size: xxx-large;
  align-items: flex-end;
}

.titleRight {
  margin-left: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  }

.fas {
  color: red
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}