article.tweet {
  border-style: solid;
  border-width: 3px;
  border-color: #545149;
  padding: 20px;
  margin: 20px 0px 20px 0px;
}

article img {
  max-width: 25%;
  vertical-align:middle; 
}

.tweet header{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  height: 0px;
  padding-top: 40px;
  padding-bottom: 60px;
  background-color: darkblue;
}

.tweet footer{
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  flex-direction: row;
  padding: 13px 13px 0px 6px
}

article.tweet:hover {
  box-shadow: 5px 5px gray;
}

.fa-solid:hover {
  color: red;
}

@media screen and (min-width: 1024px) {
  .tweet header {
    width: 100%;
    margin: 0;
    padding: 20px 0px 60px 0px;
  }
}